:root {
  color: white;
  background-color: #0C0C0C;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  scroll-behavior: smooth; /* Výchozí chování pro všechny prohlížeče */
}

/* ❌ Zruší `scroll-behavior` POUZE pro Firefox */
@supports (-moz-appearance: none) {
  html {
      scroll-behavior: auto;
  }
}


