:root {
  color: white;
  background-color: #0C0C0C;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto; /* ✅ Zabrání Firefoxu v "chytrém" scrollování */

}

html {
  scroll-behavior: auto; 
  -webkit-overflow-scrolling: auto;
}  


