@import "./mixins.scss";
$colorMain: white;
$fontArchivo: "Archivo", sans-serif;



.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:3em;
    }
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:3em;
    }
    .aboutText{
        @include tablet{
            max-width: 35%;
        }
        @include desktop{
            max-width: 35%;
        }
        h2{
            font-size: 1.25em;
            font-weight: 600;  
        }
        .aboutTextP{
            font-size: 1em;
            font-weight: 500;
            line-height: 1.15em;
        }
    }
    .aboutPic{
        display: flex;
        position: relative;
        height: 250px;
        @include picture{
            height: 280px;
        }
        @include picture2{
            height: 320px;
        }
        @include picture3{
            height: 380px;
        }
        #mobilePic{
            position: absolute;
            width: 96vw; // mozno prerozdelit dle nastavenych mixinu
            align-self: center;
            overflow: visible;
            height: auto;
            top:0;
            left: -4.5%;
            @include tablet {
                display: none;
            }
            @include desktop{
                display: none;
            }
        }
        #tabletPic{
            @include mobile{
                display: none;
            } 
            margin-top: 1.5em; 
        }
    }
    .aboutLogos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        img{
            max-width: 80px;
            max-height: 80px;
            padding: 1.5em;
        @include picture{
            padding: 2em;
        }
        @include picture2{
            padding: 3em;
        }
        @include picture3{
            padding: 3.9em;
        }
        }
    }
    .aboutButton{
        margin-top: 2em;
        margin-bottom: 2em;
        align-self: center;
        border: 2px solid white;
        background-color: black;
        padding: 1.2em 4.5em;
        font-weight: 500;
        span{
            color: black;
            background-color: white;
            font-weight: 800;
            padding: 0.05em 0.15em;
        }
    }
}