@import "./mixins.scss";
$colorMain: white;
$fontArchivo: "Archivo", sans-serif;

*{
  font-family: $fontArchivo;
}

.portfolio{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  @include mobile{
    align-items: center;
  }
  @include tablet{
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 10em;
    gap: 0.5em 1em;
  }
  @include desktop{
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 10em;
    gap: 1em;
  }
  .pictureSection{    
    display: flex;
    flex-direction: column;
    @include tablet{
      max-width: 48%;
    }
    @include desktop{
      max-width: 32%;
    }
    a{
      position: relative;
    }
        &:hover{
          img{
            opacity: 0.15;
          }
          .title{
            opacity: 1;
          }
        }
        img{
          max-width: 20em;
          width: 100%;
          
        }
        .title{
          max-width: 10em;
          position: absolute;
          font-size: 1.5em;
          top: 30%;
          left: 15%;
          opacity: 0;
        }
  }

} 
  
  