@import "./mixins.scss";
@import "./variables.scss";


.portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-family: $fontArchivo;
  h1 {
    font-size: $h1m;
    font-weight: $header;
    max-width: 18rem;
    margin-left: 1.6rem;
  }
  h2 {
    font-size: $h3a;
    font-weight: $header;
    color: rgba(255, 255, 255, 0.473);
    margin-left: 1.6rem;
    margin-bottom: 1.4rem;
  }
  @include tablet{
    width: 46rem;
    gap: 2rem;
  }
  @include desktop{
    width: 46rem;
    margin-bottom: 6em;
    margin-top: 2em;
    gap: 2rem;
  }
  @media (min-width: 1246px) {
    width: 100%;
  }
  .pictureSection{    
    min-width: 22rem;
    height: 22rem;
    overflow: hidden;
   
    .blue {
      background: linear-gradient(to bottom right, black 40%, #075d8f91 80%);
    }
    .red {
      background: linear-gradient(to bottom right, black 40%, #750000ab 80%);
    }
    .purple {
      background: linear-gradient(to bottom right, black 40%, #5c0064c2 80%);
    }
    a{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        img{
          transform: scale(0.95);
          position: absolute;
          top: 5rem;
          right: 0;
          z-index: 2;
          transition: transform 0.3s ease;
        }
        &:hover img{
          z-index: 4;
            transform: translate(-4.6rem, 0.5rem) scale(1.4);
          }
        &:hover h1, &:hover h2{
          opacity: 0;
        }
                  
    }
  }
} 
@media (min-width: 817px) {
  .pictureSection:nth-child(3) {
    margin-right: auto;
  }
}
@include desktop {
  .pictureSection:nth-child(3) {
    margin-right: auto;
  }
}
  
  