@import "./mixins.scss";
$colorMain: white;

.footer{
    display:flex;
    width: 100vw;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 2em;
    position: relative;
    .footerRight{
      position: absolute;
      right: 0;
      font-size: small;
      font-weight: 200;
      color: rgba(158, 157, 157, 0.479);
    }
  }
.rollup{
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0.1em;
  border-radius: 50%;
  position: absolute;
  top: -3.5em;
  left: 47%;
  @include mobile {
    left: 45%;
  }
  img{
    width: 100%;
  }
}