@import "./variables.scss";

.footerContainer {
  width: 85vw;
  margin: 0 auto;
  color: $colorMain;
  font-family: $fontArchivo;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.32);
  padding: 1rem 0;
  font-size: 0.875rem;
  font-weight: $text;
  text-align: center;
}
