$colorMain: white;
$fontArchivo: "Archivo", sans-serif;
$fontBebas: "Bebas Neue", sans-serif;
$fontOpen: "Open Sans", sans-serif;
$h1a: 2.25rem;
$h2a: 1.75rem;
$h3a: 1.25rem;
$h1b: 3rem;
$h2b: 2.25rem;
$h3b: 1.75rem;
$h1m: 2rem;
$h2m: 1.75rem;
$h3m: 1.5rem;
$p1: 1rem;
$pm: 0.875rem;
$text: 300;
$header: 600;
$logo: 700;
$bckgr: #0C0C0C;
